body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 115%;
  color: #333;
  background-color: #f4f4f4;
  line-height: 1.6;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  padding: 20px;
}

nav {
  display: inline-block;
  width: 80%;
}

nav img {
  width: 10%;
  position: relative;
  top: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}


nav li {
  display: inline-block;
  margin-right: 10px;
  width: 80%;
}

nav a {
  text-decoration: none;
  color: #005a9c;
}

main {
  padding: 20px;
  flex: 1;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #005a9c;
  color: #fff;
}

footer a {
  color: #fff;
}

h1 {
  font-size: 2em;
  margin-top: 0;
}

p {
  line-height: 1.6;
}

img {
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-gap: 20px;
  justify-content: center; /* center the grid items horizontally */
  align-items: center; /* center the grid items vertically */
  row-gap: 30px; /* increase the row gap */
}

.grid img {
  width: 100%;
}

@media (max-width: 600px) {
  nav li {
    display: block;
    margin-right: 0;
  }
}

/* .skip-link {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
} */

.skip-link:focus {
  position: static;
  clip: auto;
  width: auto;
  height: auto;
  margin: 0;
  padding: 10px 15px;
  background-color: #005a9c;
  color: #fff;
  text-decoration: none;
  display: block;
}